body{
  font-family: Arial, sans-serif;
  background-color: lightblue;
  /* align-items: center;
  justify-content: center; */
}

section{
  position: relative;

}
table{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-collapse: collapse;
  width: auto;
  text-align: center;
}

tbody{
  border-color: white;
  background-color: rgb(211, 172, 164);
}

th{
  border: 1px solid white;
  background-color: #2e23c6;
  color: white;
  text-align: center;
  padding: 18px 20px ;
}

td {
  border: 1px solid white;
  text-align: center;
  padding: 14px;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}


form.f1 {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

select, input[type="text"], button {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #4c72af;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #473e8e;
}

.modal-backdrop.show {
  opacity: 0 !important;
}

/* .required:after {
  content: "*";
  color: red;
} */
/* tr:nth-child(even){background-color: #ab6767} */